[Unit]
Description= Quickshop webserver Service
After= network.target

[Service]
Type= Simple
Restart= Always
ExecStart= /home/ubuntu/Development/go/bin/http_server

[Install]
WantedBy= multi-user.target